@font-face {
  font-family: "opensans";
  src: local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: opensans, sans-serif;
}

/*body:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 830px);
  z-index: -100;
  display: block;
  width: 1660px;
  height: 3508px;
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_desktop.jpg?raw=true");
  opacity: 0.2;
}*/

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

/* HEADER */
.header {
  position: relative;
  z-index: 0;
  min-width: 1200px;
  padding: 30px 0 125px 0;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_logo {
  width: 180px;
}

.header_logo:hover {
  opacity: 0.8;
}

.menu_button {
  display: none;
}

.menu_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  cursor: pointer;
}

.menu_list_item:nth-child(n+2) {
  margin-left: 35px;
}

.menu_link {
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_link:hover {
  text-decoration: underline;
}

.intro {
  box-sizing: border-box;
  display: block;
  max-width: 700px;
  margin: 95px auto 0 auto;
}

.intro_title {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.7;
  font-family: opensans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* TRANDS */
.trand_block {
  width: 100%;
  margin-top: 56px;
}

.trand_block_title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: opensans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.trand_block_title:after {
  content: '';
  display:block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 0 auto;
  margin-top: 10px;
}

.trand_container {
  display: flex;
  margin-top: 27px;
}

.trand_article {
  display: flex;
  align-items: end;
  flex: 1;
  min-height: 320px;
  position: relative;
  z-index: 0;
  background-color: #eff6f1;
}

.trand_article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.trand_article:nth-child(n+2) {
  margin-left: 4px;
}

.trand_article_1 {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trand_article_2 {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trand_article_3 {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trand_article_4 {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trand_text {
  width: 100%;
  margin: 15px 21px;
  padding: 30px 30px 16px 30px;
  border: 3px solid #b59f5b;
}

.trand_tags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trand_tag_link {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.trand_tag_link:hover {
  text-decoration: underline;
}

.trand_tag:nth-child(n+2) {
  margin-left: 20px;
}

.trand_link {
  text-decoration: none;
}

.trand_name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.trand_name:hover {
  color: #b59f5b;
}

/* MAIN & ASIDE*/
.page_container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 63px auto 0 auto;
  padding: 0 15px;
}

/* MAIN */
.main_block {
  width: 780px;
}

.article  {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.article:nth-child(n+2) {
  margin-top: 55px;
}

.post_img {
  width: 381px;
}

.post_text {
  margin: 0 0 0 30px;
  padding: 0;
}

.post_tags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post_tag_link {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.post_tag_link:hover {
  text-decoration: underline;
}

.post_tag:nth-child(n+2) {
  margin-left: 20px;
}

.post_link {
  text-decoration: none;
}

.post_name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
}

.post_name:hover {
  color: #b59f5b;
}

.post_date {
  margin-top: 26px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  font-family: opensans, sans-serif;
  color: #888888;
}

.author{
  margin-left: 9px;
  font-weight: 700;
  font-size: 12px;
  font-family: opensans, sans-serif;
  text-decoration: none;
  color: #000000;
}

.post_description {
  margin-top: 44px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: opensans, sans-serif;
  color: #0f0d0e;
}

/* ASIDE */
.aside_block {
  margin-left: 120px;
  width: 270px;
}

.aside_block_title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.aside_block_title:after {
  content: '';
  display:block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 0 auto;
  margin-top: 10px;
}

.aside_post_list {
  margin-top: 26px;
}

.aside_article {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aside_article:nth-child(n+2) {
  margin-top: 16px;
}

.aside_post_img_link{
  text-decoration: none;
}

.aside_post_img {
  width: 70px;
}

.aside_post_title {
  box-sizing: border-box;
  margin: -5px 0 0 18px;
}

.aside_date  {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  font-family: opensans, sans-serif;
  color: #000000;
  opacity: 0.54;
}

.aside_post-link {
  text-decoration: none;
}

.aside_post_name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.aside_post_name:hover {
  color: #b59f5b;
}

.forms {
  margin-top: 60px;
}

.search {
  display: flex;
  width: 100%;
}

.search_group {
  flex-grow: 1;
}

.search_field {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding: 0 20px;
  font-size: 13px;
  font-family: opensans, sans-serif;
  border: none;
  outline: none;
  background-color: #f4f7f6;
  -webkit-appearance: none;
}

.search_button {
  border: none;
  width: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}

.search_field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
  outline-color: #b59f5b;
}

.search_button:hover {
  background-color: #323232;
}

.subscription_field {
  margin-top: 23px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 13px;
  font-family: opensans, sans-serif;
  border: none;
  outline: none;
  background-color: #f4f7f6;
}

.subscription_field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
  outline-color: #b59f5b;
}

.subscription_button {
  margin-top: 18px;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.subscription_button:hover {
  background-color: #323232;
}

.subscription_title {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.tags {
  margin-top: 16px;
}

.tags_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tags_list_item {
  margin-top: 8px;
  margin-right: 5px;
  padding: 1px 13px;
  align-content: flex-start;
  border: 3px solid #eeeeee;
  cursor: pointer;
}

.tags_list_item:hover {
  border-color: #b59f5b;
}

.tag_link {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 700;
  font-size: 12px;
  font-family: opensans, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
}

.topics {
  margin-top: 25px;
}

.topics_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topics_list_item {
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.topics_list_item:nth-child(n+2) {
  margin-top: 12px;
}

.topic_link {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.topic_link:hover {
  color: #b59f5b;
}

.topic_count {
  font-weight: 700;
  font-size: 12px;
  font-family: opensans, sans-serif;
  vertical-align: top;
  color: #b59f5b;
}

/* SHOP */
.shop_block {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 56px auto;
  padding: 0 15px;
}

.shop_block_title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: opensans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.shop_block_title:after {
  content: '';
  display:block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 0 auto;
  margin-top: 10px;
}

.shop_container {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 25px;
  padding: 0 23px;
}

.product_image {
  max-width: 300px;
  background-color: #eff6f1;
}

.product_wrapper {
  width: 100%;
  margin-top: -35px;
  padding: 30px 20px;
  flex-grow: 1;
  border: 3px solid #b59f5b;
}

.product_name {
  margin: 15px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
}

.product_description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: opensans, sans-serif;
  color: #0f0d0e;
}

.product_description p {
  margin: 0;
  padding: 0;
}

.product_link {
  font-weight: 400;
  font-size: 15px;
  font-family: opensans, sans-serif;
  color: #b59f5b;
  text-decoration: none;
}

.product_link:hover {
  text-decoration: underline;
}

.product_footer {
  display: flex;
  margin-top: 22px;
  justify-content: space-between;
}

.product_price {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.product_old_price {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-decoration: line-through;
  color: #0f0d0e;
}

.product_new_price {
  font-weight: 700;
  font-size: 20px;
  font-family: opensans, sans-serif;
  color: #0f0d0e;
}

.product_button {
  width: 140px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.product_button:hover {
  background-color: #323232;
}

.product_title {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

/* FOOTER */
.footer_container {
  box-sizing: border-box;
  display: block;
  max-width: 1200px;
  margin: 61px auto 0 auto;
  padding: 0 15px;
}

.socials_adress {
  box-sizing: border-box;
  max-width: 1170px;
  padding: 30px;
  background-color: #f4f7f6;
}

.socials_list {
  display: flex;
  justify-content: center; 
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.socials_list_item {
  display: flex;
}

.socials_list_item:nth-child(n+2) {
  margin-left: 25px;
}

.social_link {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social_link:hover {
  opacity: 0.8;
}

.social_icon_dribbble {
 background-image: url("../svg/001-dribbble.svg")
}

.social_icon_pinterest {
 background-image: url("../svg/002-pinterest.svg")
}

.social_icon_tumblr {
 background-image: url("../svg/003-tumblr.svg")
}

.copyright {
  margin: 70px auto 15px auto;
} 

.copyright_link {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}

/* POPUP */
/*body:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 830px);
  z-index: 100;
  display: block;
  width: 1660px;
  height: 1000px;
  background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_desktop_popup.jpg?raw=true");
  opacity: 0.2;
} */

.popup {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.popup_hidden {
  /*display: none;*/
}

.popup_container {
  position: relative;
  box-sizing: border-box;
  width: 390px;
  padding: 45px 30px;
  background-color: #ffffff;
}

.popup_title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: opensans, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.popup_title:after {
  content: '';
  display:block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin: 0 auto;
  margin-top: 10px;
}

.select_form {
  margin-top: 20px;
}

.group_label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  font-family: opensans, sans-serif;
  color: #000000;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 17px 18px;
  border: none;
  background-color: #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  font-family: opensans, sans-serif;
  color: #000000;
  opacity: 0.54;
  cursor: pointer;
}

.select:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
  outline-color: #b59f5b;
}

.radio_form {
  margin-top: 25px;
}

.radio_group {
  display: flex;
  margin-top: 2px;
}

.radio {
  position: relative;
  margin-right: 20px;
}

.radio_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.radio_label {
  padding-left: 20px;
  font-weight: 400;
  font-size: 13px;
  font-family: opensans, sans-serif;
  color: #000000;
  cursor: pointer;
}

.radio_label:before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url(../svg/form-empty-circle.svg);
  background-size: 16px;
  background-repeat: no-repeat;
}

.radio_input:checked + .radio_label:before {
  background-image: url(../svg/form-circle.svg);
}

.wish_form {
  margin-top: 25px;
  margin-bottom: 10px;
}

.wish_textarea {
  box-sizing: border-box;
  display: block;
  resize: none;
  width: 100%;
  height: 130px;
  margin: 10px 0 0 0;
  padding: 10px 20px;
  border: none;
  background-color: #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  font-family: opensans, sans-serif;
  color: #000000;
  opacity: 0.54;
  cursor: pointer;
}

.wish_textarea:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
  outline-color: #b59f5b;
}

.submit_button {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
}

.submit_button:hover {
  background-color: #323232;
}

.submit_title {
  font-weight: 700;
  font-size: 14px;
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.popup_close {
  width: 17px;
  height: 17px;
  position: absolute;
  top: -25px;
  right: -2px;
  border: none;
  background-color: transparent;
  background-image: url(../svg/form-x.svg);
  cursor: pointer;
}

/* TABLET */
@media (min-width: 641px) and (max-width: 1199px) {
  /*body:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 384px);
    z-index: -100;
    display: block;
    width: 768px;
    height: 5320px;
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_tablet.jpg?raw=true");
    opacity: 0.2;
  }*/

  /* HEADER TABLET */
  .header {
    min-width: 100%;
    padding: 43px 0 114px 0;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header_container {
    margin: 0 auto; 
    padding: 0 35px;
  }

  .header_logo {
    width: 158px;
  }

  .header_logo:hover {
    opacity: 0.8;
  }

  .menu_button {
    display: block;
    position: relative;
    width: 22px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  .menu_button_label,
  .menu_button_label:before,
  .menu_button_label:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 3px;
    margin-top: -2px;
    margin-left: -11px;
    background-color: #ffffff;
    }

  .menu_button_label:before,
  .menu_button_label:after {
    content: "";
  }

  .menu_button_label:before {
    transform: translateY(-8px);
  }

  .menu_button_label:after {
    transform: translateY(8px);
  }

  .menu_list {
    display: none;
  }

  .intro {
    max-width: 641px;
    margin: 85px auto 0 auto;
  }

  .intro_title {
    font-size: 40px;
    line-height: 1.375;
  }

  /* TRANDS TABLET */
  .trand_block {
    margin-top: 43px;
  }

  .trand_block_title {
    font-size: 18px;
  }

  .trand_container {
    flex-wrap: wrap;
    margin-top: 18px;
  }

  .trand_article {
    min-width: 49%;
    min-height: 247px;
  }

  .trand_article:nth-child(n+2) {
    margin-left: 0;
  }

  .trand_article:nth-child(2n) {
    margin-left: 4px;
  }

  .trand_article:nth-child(n+3) {
    margin-top: 4px;
  }

  .trand_tag_link {
    font-size: 14px;
  }

  .trand_name {
    font-size: 17px;
  }

  /* MAIN & ASIDE TABLET */
  .page_container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1199px;
    margin: 50px auto 0 auto;
    padding: 0 35px;
  }

  /* MAIN TABLET */
  .article  {
    flex-direction: column;
  }

  .article:nth-child(n+2) {
    margin-top: 45px;
  }

  .article:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0.4;
    background-color: #eeeeee;
    margin: 0 auto;
  }

  .post_img {
    width: 100%;
    max-width: 391px;
  }

  .post_text {
    margin: 5px 0 0 0;
  }

  .post_tags {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .post_tag_link {
    font-size: 14px;
  }

  .post_name {
    margin-top: 8px;
    font-size: 17px;
    line-height: 1.3;
  }

  .post_description {
    margin-top: 25px;
  }

  /* ASIDE TABLET */
  .aside_block {
    min-width: 270px;
    margin-left: 35px;
  }

  .aside_block_title {
    margin-top: -5px;
  }

  .aside_article:nth-child(n+2) {
    margin-top: 17px;
  }

  .tags_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .tags_list_item {
    margin-top: 12px;
  }

  /* SHOP TABLET */
  .shop_block {
    max-width: 1199px;
    margin: 35px auto;
    padding: 0 35px;
  }

  .shop_block_title {
    font-size: 18px;
  }

  .shop_container {
    flex-wrap: wrap;
  }

  .product {
    width: 42%;
    margin-top: 25px;
    padding: 0 23px;
  }

  .product_image {
    width: 100%;
    max-width: 292px;
  }

  .product_name {
    font-size: 17px;
  }

  /* FOOTER TABLET */
  .footer_container {
    margin: 45px auto;
    padding: 0 35px;
  }

  .copyright {
    margin: 30px auto;
  } 

  /* POPUP TABLET */
  /*body:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 384px);
    z-index: 100;
    display: block;
    width: 768px;
    height: 990px;
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_tablet_popup.jpg?raw=true");
    opacity: 0.2;
  }*/

  .popup_title {
    font-size: 18px;
  }

  .radio_group {
    margin-top: 8px;
  }

  .radio {
    margin-right: 35px;
  }

  .radio_label {
    padding-left: 30px;
  }

  .radio_label:before {
    top: 0;
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .popup_close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -37px;
    right: 2px;
    border: none;
    background-color: transparent;
    background-image: url(../svg/form-x.svg);
    cursor: pointer;
  }
}

/* TABLET LANDSCAPE */
@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trand_article {
    min-width: 24%;
    min-height: 247px;
  }

  .trand_article:nth-child(n+2) {
    margin-top: 0;
    margin-left: 4px;
  }
}

/* MOBILE */
@media (max-width: 640px) {
  /*body:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 180px);
    z-index: -100;
    display: block;
    width: 360px;
    height: 7464px;
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_mobile.jpg?raw=true");
    opacity: 0.2;
  }*/

  /* HEADER MOBILE */
  .header {
    min-width: 100%;
    padding: 30px 0 210px 0;
    background-image: url(../images/banner-mobile.jpg);
  }

  .header_container {
    flex-direction: column-reverse;
    align-items: end;
    width: 100%;
    margin: 0 auto; 
  }

  .header_logo_link {
    margin: auto;
  }
  
  .header_logo {
    width: 269px;
    margin-top: 175px;
  }

  .header_logo:hover {
    opacity: 0.8;
  }

  .menu_button {
    display: block;
    position: relative;
    width: 22px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  .menu_button_label,
  .menu_button_label:before,
  .menu_button_label:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 3px;
    margin-top: -2px;
    margin-left: -11px;
    background-color: #ffffff;
  }

  .menu_button_label:before,
  .menu_button_label:after {
    content: "";
  }

  .menu_button_label:before {
    transform: translateY(-8px);
  }

  .menu_button_label:after {
    transform: translateY(8px);
  }

  .menu_list {
    display: none;
  }

  .intro {
    max-width: 300px;
    margin: 30px auto 0 auto;
  }

  .intro_title {
    font-size: 26px;
    line-height: 1.384;
  }

  /* TRANDS MOBILE */
  .trand_block {
    margin-top: 40px;
  }

  .trand_block_title {
    font-size: 16px;
  }

  .trand_container {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .trand_article {
    min-width: 100%;
    min-height: 231px;
  }

  .trand_article:nth-child(n+2) {
    margin-top: 3px;
    margin-left: 0;
  }

  .trand_text {
    margin: 15px;
    padding: 25px 20px 10px 20px;
  }

  .trand_tag_link {
    font-size: 14px;
  }

  .trand_name {
    font-size: 16px;
  }

  /* MAIN & ASIDE MOBILE */
  .page_container {
    flex-direction: column;
    max-width: 640px;
    margin: 45px auto 0 auto;
  }

  /* MAIN MOBILE */
  .main_block {
    max-width: 100%;
  }

  .article  {
    flex-direction: column;
    max-width: 100%;
  }

  .article:nth-child(n+2) {
    margin-top: 35px;
  }

  .article:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0.4;
    background-color: #eeeeee;
    margin: 20px auto 0 auto;
  }

  .post_img {
    width: 100%;
    max-width: 640px;
  }

  .post_text {
    margin: 5px 0 0 0;
  }

  .post_tags {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .post_tag_link {
    font-size: 14px;
  }

  .post_name {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.25;
  }

  .post_date {
    margin-top: 14px;
  }

  .post_description {
    margin-top: 13px;
    font-size: 14px;
    line-height: 1.4;
  }

  .post_description p {
    margin: 0;
    padding: 0;
  }

  /* ASIDE MOBILE */
  .aside_block {
    margin: 45px 0 0 0;
    width: 100%;
  }
  
  .aside_block_title {
    font-size: 16px;
  }

  .forms {
    margin-top: 40px;
  }
  
  .search {
    margin-top: 62px;
  }
  
  .tags_list_item {
    margin-right: 4px;
  }

  /* SHOP MOBILE */
  .shop_block {
    max-width: 640px;
    margin: 30px auto;
    padding: 0 15px;
  }

  .shop_block_title {
    font-size: 16px;
  }

  .shop_container {
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
    margin-top: 25px;
    padding: 0 23px;
  }

  .product_image {
    width: 100%;
    max-width: 285px;
  }

  .product_name {
    font-size: 17px;
  }

  /* FOOTER MOBILE */
  .footer_container {
    margin: 30px auto;
    padding: 0 15px;
  }

  .copyright {
    margin: 45px auto;
  }

  /* POPUP MOBILE */
  /*body:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 180px);
    z-index: 100;
    display: block;
    width: 360px;
    height: 640px;
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_mobile_popup.jpg?raw=true");
    opacity: 0.2;
  }*/

  .popup_container {
    width: 330px;
    padding: 25px 25px 30px 25px;
  }

  .popup_title {
    font-size: 16px;
  }

  .radio_group {
    margin-top: 8px;
  }

  .radio {
    margin-right: 35px;
  }

  .radio_label {
    padding-left: 30px;
  }

  .radio_label:before {
    top: 0;
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .popup_close {
    width: 28px;
    height: 28px;
    top: -33px;
    right: 0;
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 640px) and (orientation: landscape) {
  .trand_article {
    min-width: 49%;
    min-height: 231px;
  }

  .trand_article:nth-child(n+2) {
    margin-top: 0;
    margin-left: 0;
  }

  .trand_article:nth-child(2n) {
    margin-left: 4px;
  }

  .trand_article:nth-child(n+3) {
    margin-top: 4px;
  }
}